html {
  height: 100%;
}

body {
  font-family: pt-sans, sans-serif;
  font-size: 24px;
  color: #eee;
  background-color: #252528;
  margin: 0;
  height: 100%;
}

.link {
  fill: none;
  stroke: #ccc;
}

.pane {
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  width: 44%;
  min-width: 200px;
}

.textpane {
  width: 66%;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  padding: 1em;
}

.title {
  font-family: brandon-grotesque, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1.2em;
}

.textpane {
  background-color: #ffe;
  color: #403838;
  margin-left: 8px;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
}

.textpane a {
  text-decoration: none;
  /*font-weight: bold;*/
}

.textpane a:link {
  color: #e03020;
}

.textpane a:visited {
  color: #346;
}

.textcontent {
  font-weight: normal;  
  font-size: 20px;
  padding-left: 1.2em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.textcontent ul {
  list-style-type: circle;
}

.editing {
  border: 4px red dashed;
}

.notification {
  border: 2px blue dotted;
  -webkit-border-radius: 1em; border-radius: 1em;
}

.field-group {
  padding-left: 3px;
  padding-right: 8px;
  padding-top: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.field-group label {
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  min-width: 5em;
}

.field-group input {
  flex: 100 1 auto; /* This seems wrong, but works. */
  -ms-flex: 1 1 auto;
}

.submit-button {
  float: right;
  margin-right: 10px;
  margin-top: 16px;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 0.25em;
  padding-bottom: 0.2em;

  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.9);
  border-right-color: rgba(255, 255, 255, 0.9);
  border-top-color: rgba(0, 0, 0, 0.1);
  border-left-color: rgba(0, 0, 0, 0.1);

  color: #403838;
  font-family: futura, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
}


section {
  display: -ms-flexbox;   /* MID: IE 10 */
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  -webkit-box-align: center; -moz-box-align: center; 
  -ms-flex-align: center; 
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center; 
  -webkit-justify-content: center;
  justify-content: center;

  margin: 0;
  height: 100%;
  width: 100% /* needed for Firefox */   
}

/* iPad */

@media only screen and (min-device-width : 768px) and (max-device-height: 1024px) {
  #svgBoard {
    height: 768px;
  }
}

@media only screen and (min-device-width : 1024px) and (max-device-height: 768px) {
  #svgBoard {
    height: 512px;
  }
}

/* Mobile */

@media only screen and (max-device-height: 568px) {
  /* Works on iOS 7 */
  section {
    /*height: 568px;*/
    width: 320px;
  }

  /* Works on iOS 6 */
  section.is-not-ios-seven {
    height: 568px;

    flex-direction: column;
    -webkit-flex-direction: column;

    /* Without this, Safari won't respect -webkit-flex-direction. */
    -webkit-box-orient: vertical;
  }

  .expandedPane {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
  }
}

