html {
  height: 100%;
}

body {
	font-family: brandon-grotesque, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  color: #eee;

  background-color: #252528;
  
  margin: 0;
  height: 100%;
}

#svgBoard {
  border: 1px dotted rgba(224, 235, 255, 0.1);
  min-height: 400px;
  width: 100%;
}

.arrowboard {
  background-color: transparent;
  position: absolute;
  top: 60%;
  width: 48px;
  height: 48px;
}

.arrowboard.against-right {
  right: 0.1em;
}

.arrowboard.against-left {
  left: 0.1em;
}

.arrow {
  stroke: hsla(0, 0%, 50%, 0.3);
  stroke-width: 1;
  fill: rgba(0, 0, 64, 1);
}

.arrow.on-dark {
  fill: rgb(197, 64, 58);
}

.node circle {
  cursor: pointer;
  stroke-width: 1.5px;
	fill-opacity: 0.8;
	stroke-opacity: 0.5;
  fill: blue;
}

.node text {
  text-rendering: geometricPrecision;
  fill: #fff;
}

.link {
  fill: none;
  stroke: #aaa;
  opacity: 0.7;
}

.pane {
  flex: 1 1 auto;
  width: 44%;
  position: relative;

  transform: translate(0, 0);
  transition: width 0.8s ease-out;
}

.textpane {
  font-family: garamond, adobe-garamond-pro, georgia, serif;
  text-rendering: optimizeLegibility;
  background-color: #ffe;
  color: #403838;
  flex-grow: 6;
  flex-shrink: 0;
}

.textpane a {
  text-decoration: none;
  font-weight: bold;
}

.textpane a:link {
  color: #e03020;
}

.textpane a:visited {
  color: #346;
}

#graphPane {
  order: 1;
  min-width: 200px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.textcontent {
  font-weight: normal;  
  padding-left: 1.2em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.textcontent ul {
  list-style-type: circle;
}

.editing {
  border: 4px red dashed;
}

.notification {
  border: 2px blue dotted;
}

.control-link {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 8px;
  margin-top: 8px;
  cursor: pointer;
}

.findunread-link {
  float: right;  
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 0;
  flex-basis: 1em;
}

.info-note {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.25);
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;
}

section {
  display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: 0;
  height: 100%;
  width: 100% /* needed for Firefox */   
}

#nongraphPane {
  order: 3;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.fade-out {
  transition: opacity 0.5s;
  opacity: 0;
}

#admin-control-root {
  list-style-type: none;
}

.fully-expanded {
  width: 60%;
  transition: width 0.8s ease;
}

.half-expanded {
  transition: width 0.8s ease;
}

.collapsed {
  width: 30%;
  transition: width 0.8s ease;
}

.extra-wide {
  width: 150%;
  transition: width 0.8s ease;
}

.shift-left {
  transform: translate(-32%, 0);
}

.shift-right {
  transform: translate(0, 0);
}

.contentZone {
  margin-left: 0.7em;
}

/* Firefox */
@-moz-document url-prefix(http) {
  #nongraphPane {
    /* When the content is taller than the window, this will let it scroll. */
    height: 100%;
  }
}


/* iPad */

@media only screen and (min-device-width : 768px) and (max-device-height: 1024px) {
  #svgBoard {
    height: 768px;
  }
}

@media only screen and (min-device-width : 1024px) and (max-device-height: 768px) {
  #svgBoard {
    height: 512px;
  }
}

/* Mobile */

@media only screen and (max-device-height: 568px) {
  /* Works on iOS 7 */
  section {
    /*width: 320px;*/
  }

  .fully-expanded {
    width: 50%;
  }
}
